body {
  font-family: 'Jua', sans-serif;
  background-color: #ffffff;
}

.file-upload {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.file-upload-btn {
  width: 100%;
  margin: 0;
  color: #fff;
  background: #1FB264;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #15824B;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.file-upload-btn:hover {
  background: #1AA059;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.file-upload-btn:active {
  border: 0;
  transition: all .2s ease;
}

.file-upload-content {
  display: none;
  text-align: center;
}

.file-upload-input {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  outline: none;
  opacity: 0;
  cursor: pointer;
}

.image-upload-wrap {
  margin-top: 20px;
  border: 4px dashed #1FB264;
  position: relative;
}

.image-dropping,
.image-upload-wrap:hover {
  background-color: #1FB264;
  border: 4px dashed #ffffff;
}

.image-title-wrap {
  padding: 0 15px 15px 15px;
  color: #222;
}

.drag-text {
  text-align: center;
}

.drag-text h3 {
  font-weight: 100;
  text-transform: uppercase;
  color: #15824B;
  padding: 60px 0;
}

.file-upload-image {
  max-height: 60%;
  max-width: 60%;
  margin: auto;
  padding: 10px;
}

.remove-image {
  width: 200px;
  margin: 0;
  color: #fff;
  background: #cd4535;
  border: none;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 4px solid #b02818;
  transition: all .2s ease;
  outline: none;
  text-transform: uppercase;
  font-weight: 700;
}

.remove-image:hover {
  background: #c13b2a;
  color: #ffffff;
  transition: all .2s ease;
  cursor: pointer;
}

.remove-image:active {
  border: 0;
  transition: all .2s ease;
}

.nav-distance {
	padding: 2.1% 7.7%;
}
.navbar-light .navbar-brand {
	
	font-family: 'Jua', sans-serif;
	line-height: 1.68;
	text-align: left;
	color: #35465d;
	font-size: 2rem
}
.navbar-light .navbar-toggler {
	border-color : #ffffff
}
.section {
	margin-top: 100px;
}
.title {
	font-family: 'Jua', sans-serif;
	line-height: 1.67;
	text-align: center;
	color: #35465d;
	font-size: 3rem

}
.subtitle {
	font-family: 'Jua', sans-serif;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
}

@media screen and (max-width: 600px) {
	html {
		font-size: 10px;		
	}
		.navbar-brand {
			font-size: 2rem;
		}
}
.youtube-link {
	font-family: 'Jua', sans-serif;
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}
.youtube-link:hover {
	font-family: 'Jua', sans-serif;
	font-size: 1.5rem;
	line-height: 1.71;
	text-align: center;
	color: #f73737;
	text-decoration: underline;
}	
.file-upload{
	width: 100vw;
	border-radius: 10px;
	border: solid 1.5px #f6f7fa;
	background-color: #f6f7fa;
	padding: 10% 0;
	margin: 0 auto;
}
.image-upload-wrap{
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px #35465d;
	background-color: #ffffff;
	width: 65%;
	margin: 0 auto;
}
.image-upload-wrap:hover{
	object-fit: contain;
	border-radius: 10px;
	border: dashed 1.5px #ffffff;
	background-color: #B2CCFF;
}
.upload-text{
	font-family: 'Jua', sans-serif;
	font-size: 2rem;
	line-height: 1.53;
	text-align: center;
	color: #35465d;
	width: 50%;
	margin: 0 auto;
}
.result-message{
	font-size: 3rem;
}
.man-percent{
	font-size: 1.5rem;
}
.try-again-btn{
	border-radius: 40px;
  	border: solid 1.5px #35465d;
  	background-color: #35465d;
}
.try-again-text{
	display: block;
  	font-size: 1.5rem;
  	text-align: center;
  	color: #ffffff;
  	padding: 4px 15px;
	
}
.use-google{
	font-size: 1.5rem;
	color: #F15F5F;
}
.myword{
	text-align: left;
}